header{
    width: 1265px;
    height: 40px;
    /* background-color: aquamarine; */
    position: absolute;
    top: 20px;
    left: 50px;
}

.home_header_logo{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 5px;
}

.home_header_name{
    font-size: 30px;
    font-family: roboto;
    font-weight: 700;
    color: #D5A979;
    position: relative;
    top: 0px;
    left: 40px;
}

.home_header_btn{
    height: 100%;
    width: 200px;
    border-radius: 30px;
    border: 3px solid #D5A979;
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    color: #D5A979;
    font-weight: 700;
    font-family: roboto;
    font-size: 20px;
    cursor: pointer;
}

nav{
    position: absolute;
    right: 250px;
    top: -15px;
}

ul li{
    display: inline-block;
    margin: 0 15px;
    line-height: 40px;
}

ul li a{
    position: relative;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: (9px, 1px + 7vw,20px);
    color: #D5A979;
}

*{
    padding: 0;
    list-style: none;
}

ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #D5A979;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s linear;
}

ul li a:hover:before{
    transform-origin: left;
    transform: scaleX(1); 

}



.home_social{
    width: 300px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 50px;
    /* background-color: #84E1CA; */
}

.social_link2{
    position: absolute;
    left: 40px;
}

.social_link3{
    position: absolute;
    left: 80px;
}

.social_link4{
    position: absolute;
    left: 120px;
}

.social_link5{
    position: absolute;
    left: 160px;
}

.social_size{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
