body{
    background: url("/images/bg.jpg") no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover_box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cover_box1{
    width: 100%;
    height: 100%;
    background-color: #212524;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
}



.decoy{
    width: 50px;
    height: 40px;
    /* background-color: rgb(9, 126, 87); */
    position: absolute;
    top: 50px;
    right: 0px;
}



.comp2{
    width: 450px;
    height: 270px;
    /* background-color: azure; */
    position: absolute;
    left: 50px;
    top: 150px;
}

.comp2_lab1{
    font-size: 40px;
    color: #D5A979;
    font-weight: 300;
    font-family: roboto;
}

.comp2_lab2{
    font-size: 80px;
    color: #D5A979;
    font-weight: 600;
    font-family: roboto;
    position: absolute;
    top: 50px;
    left: 0px;
}

.comp2_lab3{
    font-size: 30px;
    color: #D5A979;
    font-weight: 600;
    font-family: roboto;
    position: absolute;
    top: 150px;
    left: 0px;
}

.comp2_btn{
    font-size: 20px;
    color: #D5A979;
    font-weight: 600;
    font-family: roboto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #D5A979;
    background: none;
    cursor: pointer;
}

.home_header_nav1{
    color: hsl(165, 61%, 70%)
}
